*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	display: grid;
	max-width: 800px;
	min-height: 800px;
	border: 2px solid #ccc;
}

.grid-item {
	background-color: white;
	border: 1px solid #ccc;
	transition: background-color .15s ease;
}
